main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-header {
    background-color: #5792ff;
    padding: 15px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
}

.accordion-header:hover {
    background-color: #4586fe;
}

.accordion-item .accordion-content {
    padding: 10px;
    background-color: #f0f0f0;
    display: none;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 300px;
    margin-right: 20px;
    text-align: center;
}

.carousel-slide img {
    max-width: 100%;
    border-radius: 10px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}